h1 {
    color: #03d48a;
}
body {
    background-color: #fffec1;
}
.mainDiv {
    padding-top: 170px;
    margin-left: 100px;
    margin-right: 100px;
}
.d1 {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.d2 {
    color: #095342;
}
.left {
    width: 600px;
    border: 3px dashed #1f6628;
    float:left;
    padding:5px;
}
.right {
    width: 400px;
    border: 3px dashed #1f6628;
    float:right;
    padding:5px;
}
.d3 {
    border: 1px solid #1f6628;
    background-color: #faffe5;
    padding:5px;
}
.d4 {
    border: 1px solid #1f6628;
    border-top:0px ;
    padding:5px;
}
.addButton {
    background-color: #2185D0;
    color: #FFF;
    text-shadow: none;
    background-image: none;
}