h1 {
    color: #03d48a;
}
body {
    background-image: url("M-LzdVjaPUM.jpg");
}
.mainDiv {
    padding-top: 170px;
    margin-left: 100px;
    margin-right: 100px;
}
.d1 {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.d2 {
    color: #00455b;
}
.left {
    width: 600px;
    border: 3px dashed #00455b;
    float:left;
    padding:5px;
    border-radius: .4em;
}
.right {
    width: 400px;
    border: 3px dashed #00455b;
    float:right;
    padding:5px;
    border-radius: .4em;
}
.d3 {
    border: 1px solid #00455b;
    background-color: #fff5e7;
    padding:5px;
    border-radius: .4em;
}
.d4 {
    border: 1px solid #00455b;
    border-top:0px ;
    padding:5px;
}
.addButton {
    background-color: #00455b;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    padding: 1em 2em 1.15em;
    border: none;
    border-radius: .4em;
}
.input {
    flex: 1 0 auto;
    width: 300px;
    position: relative;
    font-weight: 400;
    display: inline-block;
    color: #FFF;
}
.i1 {
    padding: 1em 11.5em 1.15em;
    padding-left: 12em;
    background-color: #003446;
    border: none;
    color: #FFF;
    border-radius: .4em;
}
. inpElem {
    display: flex;
    margin: 0;
}
.elem {
    display: inline-block;
    width: 191px;
}
.te2 {
    padding-left: 43px;
    width: 150px;
    margin-left: 1px;
}
.circButton {
    color: #FFF;
    text-shadow: none;
    background-image: none;
    border-radius: 10em;
    padding: 1em 1em 1.15em;
    border: none;
}
.te {
    padding-top: 5px;
}
.min {
    background-color: #ba030f;
}
.pl {
    background-color: #1f6628;
}
.plMinButt {
    padding-bottom: 5px;
}
.minicon {
    font-family: Icons;
    font-weight: 400;
    font-style: normal;
}
.plusicon {
    font-family: Icons;
    font-weight: 400;
    font-style: normal;
}
.numb {
    padding-top: 8px;
}
.boughtButt {
    background-color: #e3e3d1;
    padding: 0.8em 2em 1em;
    border: 1px solid #00455b;
    border-radius: .4em;
}
.deleteButton{
    background-color: #ba030f;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    padding: 1em 1em 1.15em;
    border: none;
    vertical-align: middle;
    border-radius: .4em;

}.deleteButton2{
    background-color: #ba030f;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    padding: 1em 1em 1.15em;
    border: none;
    vertical-align: middle;
    border-radius: .4em;
}
.notBoughtElements {
    font-size: 70%;
    display: inline-block;
    margin: 0 .14285714em;
    background-color: #e3e3d1;
    border: 1px solid #00455b;
    padding: .5833em .833em;
    color: #00455b;
    border-radius: .28571429rem;
}
.t3 {
    padding: 5px;
}
.miniLabel {
    color: #00455b;
    font-size: 130%;
    border: 1px solid #00455b;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 500rem;
    margin: 5px;
    background-color: #ffcd89;
}
.title {
    font-size: 100%;
}
.t {
    padding-top: 5px;
}
.newName {
    padding: 0.5em 0.2em 0.5em;
    background-color: #003446;
    border: none;
    color: #FFF;
    border-radius: .4em;
}
.te8 {
    margin-left: 8px;
}
.pad5 {
    padding: 5px;
}
.padL5 {
    padding-left: 5px;
}
.pad50 {
    padding-left: 50px;
}
. margR5 {
    margin-right: 5px;
}
.margT {
    margin-top: 2px;
}

